/* admin LTE start */
.card .products-list .product-img img{
    height: 50px;
    width: 75px;
    display: inline-block;
}
/* admin LTE end */

/* login page start */
.login{
    transform: translateY(-130%);
    transition: 0.5s;
}
.login.show{
    transform: translateY(0);
}
/* login page end */

/* my shuffle with photo start */
.max-width-750{
    max-width: 750px;
}
.shuffle-category{
    margin-bottom: 20px;
    height: auto;
}

.myCard {
    border-bottom: 1px solid #ccc!important;
}

.menu{
    border-top: 1px solid #ccc;
}

.myCard .product-list{
    padding: 10px 0;
}

.myCard .product-list .product-image{
    width: 70px;
    float: right;
    position: relative;
}

.myCard .product-list .product-image img{
    height: 50px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2px;
}

.myCard .product-list .product-body {
    /*display: inline;*/
}

.myCard .product-list .product-body .product-head {
    display: flex;
    justify-content: space-between;
}

.myCard .product-list .product-body .product-head .product-name{
    /*text-decoration: none;*/
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.myCard .product-list .product-body .product-head .product-price{
    font-family: sans-serif;
    /*font-weight: bold;*/

    /*float: left;*/
    border: 1px solid gray;
    border-radius: 15px;
    /*background: linear-gradient(rgba(118, 161, 232, 0.78), rgba(253, 58, 58, 0.67));*/
    padding: 0 5px;
}

.myCard .product-list .product-body .product-details{
    height: 30px;
    margin-right: 80px;
}
.myCard .product-list .product-body .product-details p{
    font-family: sans-serif;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Modal shuffle **/
/*.myShuffleBg {*/
/*    background-image: url("https://127.0.0.1/nemo/img/bg/bg2.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: fixed;*/
/*    z-index: -1;*/
/*}*/
.modal-body .product-body {
    margin-top: 10px;
}
.modal-body .product-body .product-name {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.modal-body .product-body .product-name span {
    font-family: sans-serif;
    float: left;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 0 5px;
}

.modal-body .product-body .product-details{
    margin-right: 15px;
}

.modal-body .product-body .product-details p {
    font-family: sans-serif;
    font-size: 17px;
}
.night{
    background: #212529;
    color: white;
}
/* my shuffle with photo end */

/* start sticky for my menu page */
.sticky {
    position: sticky;
    top: 57px;
    z-index: 1000;
    background-color: #ffffff;
    /*padding: 10px 0;*/
    /*border-radius: 15px;*/
    /*backdrop-filter: blur(4px);*/
    /*margin-bottom: 20px;*/
}
/* end sticky for my menu page */

/* start go to up */
.goToUp {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1000;
    background-color: #4946462b;
    padding: 10px;
    border-radius: 46px;
    backdrop-filter: blur(4px);
    transition: 0.2s;
    cursor: pointer;
    transform: rotateX(90deg);
}

.goToUp.showGoToUp {
    transform: rotateX(0) !important;
}
/* end go to up */

/* start preloader */
.preloader {
    position: fixed;
    background-color: #f4f6f9;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.rings{
    position: absolute;
    left: 50%;
    top: 50%;
}
.ring1 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -28px;
    margin-top: -95px;
    border-radius: 50%;
    border: 12px solid;
    border-bottom-color: transparent;

    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: 6;
    /* animation-timing-function: linear; */
    animation-direction: alternate;
    animation-delay: 0.3s;
}
.ring1::before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
    border: 12px solid;
    border-bottom-color: transparent;
    transform: rotate(-30deg);
}
.ring1::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
    border: 12px solid;
    border-bottom-color: transparent;
    transform: rotate(28deg);
}
.ring2 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -72px;
    margin-top: -50px;
    border-radius: 50%;
    border: 12px solid #989898;
    border-top-color: transparent;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: 6;
    /* animation-timing-function: linear; */
    animation-direction: alternate;
    animation-delay: 0.3s;
}
.ring2::before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
    border: 12px solid #989898;
    border-top-color: transparent;
    transform: rotate(-30deg);
}
.ring2::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
    border: 12px solid #989898;
    border-top-color: transparent;
    transform: rotate(28deg);
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.preloader.hide {
    transition: 0.6s;
    transform: translateY(-100%);
}
/* end preloader */